.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  width: 100%;
}

.Form{
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  align-items: center;
  background-color: aliceblue;
  max-width: 500px;
  min-width: 330px;
}
.Form >input{
  margin: 10px;
  width: 80%;
  padding: 5px;
  border-radius: 20px;
}
.Radiobtn,.Skills{
  margin: 10px;
  width: 80%;
}
.Skills >label{
  margin-right: 5px;
}
.Skills > select{
  padding-left: 10px;
  padding-right:10px ;
  border-radius: 30px;
}
.Text{
  height: 100px;
  width: 80%;
  margin: 10px;
  border-radius: 10px;
}

button{
  margin: 10px;
  width: 100px;
  padding: 5px;
}
p{
  color: red;
}